In [65]:
#Import appropriate libraries
import pandas as pd
import streamlit as st
from scipy import stats as st
import numpy as np
import matplotlib.pyplot as plt
import plotly_express as px

ModuleNotFoundError: No module named 'plotly_express'

In [51]:
#Import dataset
df = pd.read_csv('vehicles_us.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [52]:
#Look at a sample of the dataset
df.head(20)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27

In [53]:
#Check for duplicates
df.duplicated().sum()

0

In [54]:
print(df.model_year.unique())
print(df.is_4wd.unique())
print(df.transmission.unique())

[2011.   nan 2013. 2003. 2017. 2014. 2015. 2012. 2008. 2018. 2009. 2010.
 2007. 2004. 2005. 2001. 2006. 1966. 1994. 2019. 2000. 2016. 1993. 1999.
 1997. 2002. 1981. 1995. 1996. 1975. 1998. 1985. 1977. 1987. 1974. 1990.
 1992. 1991. 1972. 1967. 1988. 1969. 1989. 1978. 1965. 1979. 1968. 1986.
 1980. 1964. 1963. 1984. 1982. 1973. 1970. 1955. 1971. 1976. 1983. 1954.
 1962. 1948. 1960. 1908. 1961. 1936. 1949. 1958. 1929.]
[ 1. nan]
['automatic' 'manual' 'other']

In [55]:
#Convert columns to appropriate data types
df['date_posted'] = pd.to_datetime(df['date_posted'])


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 5.1+ MB

In [56]:
df['model_year'] = df['model_year'].fillna(value=0)
df['model_year'] = df['model_year'].astype('int')

In [57]:
df['is_4wd'] = df['is_4wd'].fillna(value=0)
df['is_4wd'] = df['is_4wd'].astype('int')

In [58]:
df['cylinders'] = df['cylinders'].fillna(value=0)
df['cylinders'] = df['cylinders'].astype('int')

In [59]:
df['odometer'] = df['odometer'].fillna(value=0)
df['odometer'] = df['odometer'].astype('int')

In [60]:
df['manufacturer'] = df['model'].apply(lambda x:x.split()[0])
df.head(20)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,manufacturer
0,9400,2011,bmw x5,good,6,gas,145000,automatic,SUV,NaN,1,2018-06-23,19,bmw
1,25500,0,ford f-150,good,6,gas,88705,automatic,pickup,white,1,2018-10-19,50,ford
2,5500,2013,hyundai sonata,like new,4,gas,110000,automatic,sedan,red,0,2019-02-07,79,hyundai
3,1500,2003,ford f-150,fair,8,gas,0,automatic,pickup,NaN,0,2019-03-22,9,ford
4,14900,2017,chrysler 200,excellent,4,gas,80903,automatic,sedan,black,0,2019-04-02,28,chrysler
5,14990,2014,chrysler 300,excellent,6,gas,57954,automatic,sedan,black,1,2018-06-20,15,chrysler
6,12990,2015,toyota camry,excellent,4,gas,79212,automatic,sedan,white,0,2018-12-27,73,toyota
7,15990,2013,honda pilot,excellent,6,gas,109473,automatic,SUV,black,1,2019-01-07,68,honda
8,11500,2012,kia sorento,excellent,4,gas,104174,automatic,SUV,NaN,1,2018-07-16,19,kia
9,9200,2008,honda pilot,excellent,0,gas,147191,automatic,SUV,blue,1,2019-02-15,17,honda
10,19500,2011,chevrolet silverado 1500,excellent,8,gas,128413,automatic,pickup,black,1,2018-09-17,38,chevrolet
11,8990,2012,honda accord,excellent,4,gas,111142,automatic,sedan,grey,0,2019-03-28,29,honda
12,18990,2012,ram 1500,excellent,8,gas,140742,automatic,pickup,NaN,1,2019-04-02,37,ram
13,16500,2018,hyundai sonata,excellent,4,gas,22104,automatic,sedan,silver,0,2019-01-14,29,hyundai
14,12990,2009,gmc yukon,excellent,8,gas,132285,automatic,SUV,black,1,2019-01-31,24,gmc
15,17990,2013,ram 1500,excellent,8,gas,0,automatic,pickup,red,1,2018-05-15,111,ram
16,14990,2010,ram 1500,excellent,8,gas,130725,automatic,pickup,red,1,2018-12-30,13,ram
17,13990,2014,jeep cherokee,excellent,6,gas,100669,automatic,SUV,red,1,2018-08-16,25,jeep
18,12500,2013,chevrolet traverse,excellent,6,gas,128325,automatic,SUV,white,1,2019-04-09,13,chevrolet
19,13990,2018,hyundai elantra,excellent,4,gas,31932,automatic,sedan,red,0,2018-08-25,27,hyundai

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  int32
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  int32
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  int32
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        51525 non-null  int32
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
 13  manufacturer  51525 non-null  object
dtypes: datetime64[ns](1), int32(4), int64(2), object(7)
memory usage: 4.7+ MB

In [62]:
print(df.manufacturer.unique())

['bmw' 'ford' 'hyundai' 'chrysler' 'toyota' 'honda' 'kia' 'chevrolet'
 'ram' 'gmc' 'jeep' 'nissan' 'subaru' 'dodge' 'mercedes-benz' 'acura'
 'cadillac' 'volkswagen' 'buick']

In [63]:
luxury_brands = ['bmw','mercedes-benz','acura','cadillac']
luxury_class = []
for value in df['manufacturer']:
    if value in luxury_brands:
        luxury_class.append('luxury')
    else:
        luxury_class.append('normal')
df['luxury_class'] = luxury_class

df.head(20)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,manufacturer,luxury_class
0,9400,2011,bmw x5,good,6,gas,145000,automatic,SUV,NaN,1,2018-06-23,19,bmw,luxury
1,25500,0,ford f-150,good,6,gas,88705,automatic,pickup,white,1,2018-10-19,50,ford,normal
2,5500,2013,hyundai sonata,like new,4,gas,110000,automatic,sedan,red,0,2019-02-07,79,hyundai,normal
3,1500,2003,ford f-150,fair,8,gas,0,automatic,pickup,NaN,0,2019-03-22,9,ford,normal
4,14900,2017,chrysler 200,excellent,4,gas,80903,automatic,sedan,black,0,2019-04-02,28,chrysler,normal
5,14990,2014,chrysler 300,excellent,6,gas,57954,automatic,sedan,black,1,2018-06-20,15,chrysler,normal
6,12990,2015,toyota camry,excellent,4,gas,79212,automatic,sedan,white,0,2018-12-27,73,toyota,normal
7,15990,2013,honda pilot,excellent,6,gas,109473,automatic,SUV,black,1,2019-01-07,68,honda,normal
8,11500,2012,kia sorento,excellent,4,gas,104174,automatic,SUV,NaN,1,2018-07-16,19,kia,normal
9,9200,2008,honda pilot,excellent,0,gas,147191,automatic,SUV,blue,1,2019-02-15,17,honda,normal
10,19500,2011,chevrolet silverado 1500,excellent,8,gas,128413,automatic,pickup,black,1,2018-09-17,38,chevrolet,normal
11,8990,2012,honda accord,excellent,4,gas,111142,automatic,sedan,grey,0,2019-03-28,29,honda,normal
12,18990,2012,ram 1500,excellent,8,gas,140742,automatic,pickup,NaN,1,2019-04-02,37,ram,normal
13,16500,2018,hyundai sonata,excellent,4,gas,22104,automatic,sedan,silver,0,2019-01-14,29,hyundai,normal
14,12990,2009,gmc yukon,excellent,8,gas,132285,automatic,SUV,black,1,2019-01-31,24,gmc,normal
15,17990,2013,ram 1500,excellent,8,gas,0,automatic,pickup,red,1,2018-05-15,111,ram,normal
16,14990,2010,ram 1500,excellent,8,gas,130725,automatic,pickup,red,1,2018-12-30,13,ram,normal
17,13990,2014,jeep cherokee,excellent,6,gas,100669,automatic,SUV,red,1,2018-08-16,25,jeep,normal
18,12500,2013,chevrolet traverse,excellent,6,gas,128325,automatic,SUV,white,1,2019-04-09,13,chevrolet,normal
19,13990,2018,hyundai elantra,excellent,4,gas,31932,automatic,sedan,red,0,2018-08-25,27,hyundai,normal

In [64]:
px.scatter(data, x='odometer', y='price')

AttributeError: module 'plotly' has no attribute 'scatter'